{% extends "base.html" %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h1>
                {{ deployment.name }}
                <small class="text-muted">Replicas: {{ deployment.replicas }}</small>
            </h1>
        </div>
        <div class="card-block">
            <p class="card-text">
              <h4> Running images </h4>
              {% for container in deployment.obj['spec']['template']['spec']['containers'] %}
                {{ container['image'] }}
              {% endfor %}
            <p>
        </div>
    </div>
{% endblock %}
